<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div if="hasData()"
     class="widget-product recently-viewed" css="additionalClasses">
    <div class="main-heading">
        <h2 class="heading-title block-title">
            <span role="heading"
                  aria-level="2"
                  text="label"/>
        </h2>
    </div>
    <div class="category-products block-content">
        <div class="widget-products-grid">
            <ol class="product-items magepow magepow-theme">
                <li class="product-item" repeat="foreach: filteredRows, item: '$row'">
                    <div class="product-item-info">
                        <div class="product-show">
                            <fastForEach args="data: getRegion('general-area'), as: '$col'" >
                                <render args="$col.getBody()"/>
                            </fastForEach>
                        </div>

                        <div class="product-item-details">
                            <fastForEach args="data: getRegion('details-area'), as: '$col'" >
                                <render args="$col.getBody()"/>
                            </fastForEach>

                            <div if="getRegion('action-primary-area')().length || getRegion('action-secondary-area')().length"
                                 class="product-item-actions">
                                <div class="actions-primary" if="getRegion('action-primary-area')().length">
                                    <fastForEach args="data: getRegion('action-primary-area'), as: '$col'" >
                                        <render args="$col.getBody()"/>
                                    </fastForEach>
                                </div>

                                <div if="getRegion('action-secondary-area')().length"
                                     class="actions-secondary"
                                     data-role="add-to-links">
                                    <fastForEach args="data: getRegion('action-secondary-area'), as: '$col'" >
                                        <render args="$col.getBody()"/>
                                    </fastForEach>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ol>
            <script type="text/html" id="person-template"><span></span></script>
        </div>
    </div>
</div>
